body {
    color: #000;
    font-size: 16px;
    font-family: "Roboto", sans-serif;
}

a {
    color: #1acc8d;
    text-decoration: none;
}

/*--------------------------------------------------------------
# Preloader
--------------------------------------------------------------*/
#preloader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 9999;
    overflow: hidden;
    background: #fff;
}

#preloader:before {
    content: "";
    position: fixed;
    top: calc(50% - 30px);
    left: calc(50% - 30px);
    border: 6px solid #1acc8d;
    border-top-color: #d2f9eb;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    -webkit-animation: animate-preloader 1s linear infinite;
    animation: animate-preloader 1s linear infinite;
}

@-webkit-keyframes animate-preloader {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes animate-preloader {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

/*--------------------------------------------------------------
# Back to top button
--------------------------------------------------------------*/
.back-to-top {
    position: fixed;
    visibility: hidden;
    opacity: 0;
    right: 15px;
    bottom: 15px;
    z-index: 996;
    background: #82be00;
    width: 40px;
    height: 40px;
    border-radius: 50px;
    transition: all 0.4s;
}

.back-to-top i {
    font-size: 28px;
    color: #fff;
    line-height: 0;
}

.back-to-top:hover {
    background: #90d200;
    color: #fff;
}

.back-to-top.active {
    visibility: visible;
    opacity: 1;
}

/*--------------------------------------------------------------
# Disable AOS delay on mobile
--------------------------------------------------------------*/
@media screen and (max-width: 768px) {
    [data-aos-delay] {
        transition-delay: 0 !important;
    }
}

/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
#header {
    height: 80px;
    transition: all 0.5s;
    z-index: 997;
    transition: all 0.5s;
    background: rgba(1, 4, 136, 0.9);
}

#header.header-transparent {
    background: #fff;
}

#header.header-scrolled {
    background: #fff;
    height: 60px;
}

#header .logo h1 {
    font-size: 28px;
    margin: 0;
    padding: 0;
    line-height: 1;
    font-weight: 700;
}

#header .logo h1 a,
#header .logo h1 a:hover {
    color: #333;
    text-decoration: none;
}

#header .logo img {
    padding: 0;
    margin: 0;
    max-height: 60px;
}

/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/
/**
* Desktop Navigation 
*/
.navbar {
    padding: 0;
}

.navbar ul {
    margin: 0;
    padding: 0;
    display: flex;
    list-style: none;
    align-items: center;
}

.navbar li {
    position: relative;
}

.navbar a,
.navbar a:focus {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0 10px 30px;
    font-size: 15px;
    font-weight: 500;
    font-family: "Poppins", sans-serif;
    color: #333;
    white-space: nowrap;
    transition: 0.3s;
}

.navbar a i,
.navbar a:focus i {
    font-size: 12px;
    line-height: 0;
    margin-left: 5px;
}

.navbar > ul > li > a:before {
    content: "";
    position: absolute;
    width: 0;
    height: 2px;
    bottom: 3px;
    left: 30px;
    background-color: #82be00;
    visibility: hidden;
    width: 0px;
    transition: all 0.3s ease-in-out 0s;
}

.navbar a:hover:before,
.navbar li:hover > a:before,
.navbar .active:before {
    visibility: visible;
    width: 25px;
}

.navbar a:hover,
.navbar .active,
.navbar .active:focus,
.navbar li:hover > a {
    color: #0078c8;
}

.navbar .dropdown ul {
    display: block;
    position: absolute;
    left: 30px;
    top: calc(100% + 30px);
    margin: 0;
    padding: 10px 0;
    z-index: 99;
    opacity: 0;
    visibility: hidden;
    background: #fff;
    box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
    transition: 0.3s;
    border-radius: 4px;
}

.navbar .dropdown ul li {
    min-width: 200px;
}

.navbar .dropdown ul a {
    padding: 10px 20px;
    font-size: 14px;
    font-weight: 500;
    text-transform: none;
    color: #01036f;
}

.navbar .dropdown ul a i {
    font-size: 12px;
}

.navbar .dropdown ul a:hover,
.navbar .dropdown ul .active:hover,
.navbar .dropdown ul li:hover > a {
    color: #1acc8d;
}

.navbar .dropdown:hover > ul {
    opacity: 1;
    top: 100%;
    visibility: visible;
}

.navbar .dropdown .dropdown ul {
    top: 0;
    left: calc(100% - 30px);
    visibility: hidden;
}

.navbar .dropdown .dropdown:hover > ul {
    opacity: 1;
    top: 0;
    left: 100%;
    visibility: visible;
}

@media (max-width: 1366px) {
    .navbar .dropdown .dropdown ul {
        left: -90%;
    }
    .navbar .dropdown .dropdown:hover > ul {
        left: -100%;
    }
}

.green-btn {
    margin: 0 25px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
    background: #82be00 !important;
    border: #82be00;
}

.green-btn#hero:before:hover {
    background: #90d200 !important;
    border: #90d200;
}

/**
* Mobile Navigation 
*/
.mobile-nav-toggle {
    color: #333;
    font-size: 28px;
    cursor: pointer;
    display: none;
    line-height: 0;
    transition: 0.5s;
}

@media (max-width: 991px) {
    .mobile-nav-toggle {
        display: block;
    }
    .navbar ul {
        display: none;
    }
}

.navbar-mobile {
    position: fixed;
    overflow: hidden;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background: rgba(1, 3, 91, 0.9);
    transition: 0.3s;
    z-index: 999;
}

.navbar-mobile .mobile-nav-toggle {
    position: absolute;
    top: 15px;
    right: 15px;
    color: #fff;
}

.navbar-mobile ul {
    display: block;
    position: absolute;
    top: 55px;
    right: 15px;
    bottom: 15px;
    left: 15px;
    padding: 10px 0;
    border-radius: 8px;
    background-color: #fff;
    overflow-y: auto;
    transition: 0.3s;
}

.navbar-mobile > ul > li > a:before {
    left: 20px;
}

.navbar-mobile a {
    padding: 10px 20px;
    font-size: 15px;
    color: #333;
}

.navbar-mobile a:hover,
.navbar-mobile .active,
.navbar-mobile li:hover > a {
    color: #333;
}

.navbar-mobile .getstarted {
    margin: 15px;
}

.navbar-mobile .dropdown ul {
    position: static;
    display: none;
    margin: 10px 20px;
    padding: 10px 0;
    z-index: 99;
    opacity: 1;
    visibility: visible;
    background: #fff;
    box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
}

.navbar-mobile .dropdown ul li {
    min-width: 200px;
}

.navbar-mobile .dropdown ul a {
    padding: 10px 20px;
}

.navbar-mobile .dropdown ul a i {
    font-size: 12px;
}

.navbar-mobile .dropdown ul a:hover,
.navbar-mobile .dropdown ul .active:hover,
.navbar-mobile .dropdown ul li:hover > a {
    color: #1acc8d;
}

.navbar-mobile .dropdown > .dropdown-active {
    display: block;
}

/*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/
#hero {
    width: 100%;
    background: url("../img/hero.webp");
    position: relative;
    padding: 120px 0 0 0;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

#hero .hero-margin-desktop {
    margin-top: 30px;
    margin-bottom: 30px;
}

#hero:before {
    content: "";
    background-color: rgba(0, 120, 200, 0.9);
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
}

#hero h1 {
    margin: 0 0 20px 0;
    font-size: 48px;
    font-weight: 700;
    line-height: 56px;
    color: rgba(255, 255, 255, 0.8);
}

#hero h1 span {
    color: #fff;
    border-bottom: 4px solid #1acc8d;
}

#hero h2 {
    color: rgba(255, 255, 255, 0.8);
    margin-bottom: 40px;
    font-size: 20px;
    font-weight: 100;
}

#hero .btn-get-started {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 10px 30px;
    border-radius: 50px;
    transition: 0.5s;
    color: #fff;
    background: #1acc8d;
}

#hero .btn-get-started:hover {
    background: #17b57d;
}

#hero .animated {
    animation: up-down 2s ease-in-out infinite alternate-reverse both;
}

@media (min-width: 1024px) {
    #hero {
        background-attachment: fixed;
    }
}

@media (max-width: 991px) {
    #hero {
        padding-top: 80px;
    }
    .hero-margin-desktop {
        margin: 0;
    }

    #hero .animated {
        -webkit-animation: none;
        animation: none;
    }
    #hero .hero-img {
        text-align: center;
    }
    #hero .hero-img img {
        max-width: 50%;
    }
}

@media (max-width: 575px) {
    #hero .hero-img img {
        width: 80%;
    }
}

@-webkit-keyframes up-down {
    0% {
        transform: translateY(10px);
    }
    100% {
        transform: translateY(-10px);
    }
}

@keyframes up-down {
    0% {
        transform: translateY(10px);
    }
    100% {
        transform: translateY(-10px);
    }
}

.hero-waves {
    display: block;
    margin-top: 60px;
    width: 100%;
    height: 60px;
    z-index: 5;
    position: relative;
}

.wave1 use {
    -webkit-animation: move-forever1 10s linear infinite;
    animation: move-forever1 10s linear infinite;
    -webkit-animation-delay: -2s;
    animation-delay: -2s;
}

.wave2 use {
    -webkit-animation: move-forever2 8s linear infinite;
    animation: move-forever2 8s linear infinite;
    -webkit-animation-delay: -2s;
    animation-delay: -2s;
}

.wave3 use {
    -webkit-animation: move-forever3 6s linear infinite;
    animation: move-forever3 6s linear infinite;
    -webkit-animation-delay: -2s;
    animation-delay: -2s;
}

@-webkit-keyframes move-forever1 {
    0% {
        transform: translate(85px, 0%);
    }
    100% {
        transform: translate(-90px, 0%);
    }
}

@keyframes move-forever1 {
    0% {
        transform: translate(85px, 0%);
    }
    100% {
        transform: translate(-90px, 0%);
    }
}

@-webkit-keyframes move-forever2 {
    0% {
        transform: translate(-90px, 0%);
    }
    100% {
        transform: translate(85px, 0%);
    }
}

@keyframes move-forever2 {
    0% {
        transform: translate(-90px, 0%);
    }
    100% {
        transform: translate(85px, 0%);
    }
}

@-webkit-keyframes move-forever3 {
    0% {
        transform: translate(-90px, 0%);
    }
    100% {
        transform: translate(85px, 0%);
    }
}

@keyframes move-forever3 {
    0% {
        transform: translate(-90px, 0%);
    }
    100% {
        transform: translate(85px, 0%);
    }
}

/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
#footer {
    background: #3a3c49;
    padding: 0 0 30px 0;
    color: #fff;
    font-size: 14px;
    padding: 50px 0 50px 0;
}

#footer .social-links a {
    font-size: 18px;
    display: inline-block;
    color: #000;
    line-height: 1;
    padding: 8px 0;
    margin-right: 4px;
    border-radius: 50%;
    text-align: center;
    width: 36px;
    height: 36px;
    transition: 0.3s;
    background: #fff;
}

#footer .social-links a:hover {
    background: #82be00;
    color: #fff;
    text-decoration: none;
}

#contant-info-title {
    font-size: 18px;
    font-style: normal;
    font-weight: 900;
    letter-spacing: 0.20000000298023224px;
}

#footer-subscribe {
    width: 100%;
    background: url("../img/footer-img-office.png");
    position: relative;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    object-fit: fill;
}

#footer-subscribe:before {
    content: "";
    background-color: #3a3c49;
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    opacity: 0.7;
}

.custom-hero-banner-text {
    position: relative;
    z-index: 1;
}
#stay-in-touch {
    font-size: 35px;
    font-weight: 900;
    color: #fff;
}

#stay-in-touch-subTitle {
    font-weight: 400;
    color: #fff;
}

.footer-newsletter form {
    margin-top: 30px;
    background: #fff;
    padding: 6px 10px 6px 15px;
    position: relative;
    border-radius: 50px;
}

.footer-newsletter form input[type="email"] {
    border: 0;
    padding: 4px;
    width: calc(100% - 110px);
}

.footer-newsletter form input[type="submit"] {
    position: absolute;
    top: 0;
    right: -2px;
    bottom: 0;
    border: 0;
    background: none;
    font-size: 16px;
    padding: 0 20px;
    background: #82be00;
    color: #fff;
    transition: 0.3s;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
}

.footer-newsletter form input[type="submit"]:hover {
    background: #6e9c09;
}

.title-blue-spec {
    font-size: 2rem;
    color: #0078c8;
}
.title-green-spec {
    font-size: 2rem;
    color: #82be00;
}

.txt-bold {
    font-weight: 700;
}

.play-button-outer {
    margin: 0 auto;
    width: 4em;
    height: 4em;
    background-color: #82be00;
    cursor: pointer;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    border-radius: 100px;
}

.play-button {
    margin: 0 auto;
    top: 30%;
    position: relative;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0.8em 0 0.8em 1.5em;
    border-color: transparent transparent transparent #fff;
    opacity: 1;
}

.play-button-outer:hover {
    background-color: #90d200;
}

.play-button-outer:hover .play-button {
    opacity: 1;
}

/*--------------------------------------------------------------
# Landing Page
--------------------------------------------------------------*/
.book-demo h1 {
    font-size: 30px;
    font-weight: 600;
    color: #0078c8;
}

.book-demo span {
    color: #82be00;
}

.what-is-infinity-container p {
    font-size: 40px;
    font-weight: 500;
}

#infinity-offers-container #strategy,
#system,
#execution {
    font-size: 24px;
    font-weight: 900;
    margin-top: 25px;
}

#award-winning-revenue-system {
    margin-bottom: 80px;
}

#award-winning-revenue-system h2 {
    font-size: 40px;
    font-weight: 400;
    color: #0078c8;
    font-family: "Roboto", sans-serif;
}

#award-winning-revenue-system span {
    color: #82be00;
}

#award-winning-revenue-system p {
    font-weight: 300;
    font-family: "Roboto", sans-serif;
    color: #000;
}

#solutions-container h1 {
    font-weight: 400;
    font-size: 40px;
    font-family: "Roboto", sans-serif;
}

.inbound-container {
    padding-bottom: 50px;
    padding-top: 50px;
}

.inbound-container,
.outbound-container,
.customer-service p {
    font-weight: 300;
    font-family: "Roboto", sans-serif;
}

.industry-titles {
    margin-bottom: 80px;
}

.industry-titles h2 {
    font-weight: 400;
    font-size: 40px;
    color: #0078c8;
    font-family: "Roboto", sans-serif;
}

.industry-titles p {
    font-weight: 300;
    font-family: "Roboto", sans-serif;
}

.custom-img-zoom-container {
    position: relative;
}

.img-zoom-overlay {
    position: absolute;
    top: 85%;
    bottom: 0;
    left: 1%;
    right: 0;
    height: 15%;
    width: 98%;
    opacity: 0;
    transition: 0.5s ease;
    background: rgba(130, 190, 0, 1);
    overflow: hidden;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}
.custom-img-zoom-container:hover .img-zoom-overlay {
    opacity: 0.9;
    transform: scale(1.03);
}

.custom-img-zoom-container:hover {
    box-shadow: -1px 10px 51px 6px rgba(0, 0, 0, 0.81);
    -webkit-box-shadow: -1px 10px 51px 6px rgba(0, 0, 0, 0.81);
    -moz-box-shadow: -1px 10px 51px 6px rgba(0, 0, 0, 0.81);
    border-radius: 30px;
}

#img-zoom-container {
    transition: transform 0.2s;
}

#img-zoom-container:hover {
    transform: scale(1.5);
    cursor: pointer;
    z-index: 1;
}

#infinity-offers-container {
    background: url("../img/What Infinity Offers/solutions_bg.png");
    background-repeat: no-repeat;
    background-size: 85%;
    background-position: center;
    object-fit: fill;
    padding: 90px 0 90px 0;
    margin-bottom: 80px;
}

@media (max-width: 768px) {
    #infinity-offers-container {
        background: none;
    }
}

/* The flip card container - set the width and height to whatever you want. We have added the border property to demonstrate that the flip itself goes out of the box on hover (remove perspective if you don't want the 3D effect */
.flip-card {
    background-color: transparent;
    width: 200px;
    height: 200px;
    perspective: 1000px;
    cursor: pointer;
}

/* This container is needed to position the front and back side */
.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
    box-shadow: -9px 12px 66px -30px rgba(0, 0, 0, 0.66);
    -webkit-box-shadow: -9px 12px 66px -30px rgba(0, 0, 0, 0.66);
    -moz-box-shadow: -9px 12px 66px -30px rgba(0, 0, 0, 0.66);
    border-radius: 50%;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-card-front,
.flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
    border-radius: 50%;
}

.flip-card-front,
.flip-card-back-green {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
    border-radius: 50%;
}

/* Style the front side (fallback if image is missing) */
.flip-card-front {
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Style the back side */
.flip-card-back {
    background-color: #0078c8;
    color: white;
    transform: rotateY(180deg);
}

.flip-card-back-green {
    background-color: #90d200;
    color: white;
    transform: rotateY(180deg);
}

.flip-card-back-green p {
    color: white;
    font-size: 12px;
}

.flip-card-back p {
    color: white;
    font-size: 12px;
}

.flip-card-front img {
    max-width: 100%;
}

#award-winning-revenue-system {
    color: #82be00;
}

.inbound-container a {
    background-color: #82be00;
    color: #fff;
    border-radius: 50px;
}

#solution-img {
    max-width: 80%;
}

#solution-titles {
    font-style: normal;
    font-weight: normal;
    font-size: 40px;
}

#solution-get-cx {
    background-color: #82be00;
    color: #fff;
    border-radius: 50px;
}

#industry-titles {
    font-size: 40px;
    font-weight: 400;
    color: #0078c8;
}

#img-gallery {
    max-width: 100%;
    border-radius: 20px;
}

#case-study-titles {
    font-size: 40px;
    font-weight: 400;
    color: #0078c8;
}

#case-study-graph {
    max-width: 100%;
}

#case-study-carousel-intro {
    color: #9f9f9f;
    font-family: "Roboto", sans-serif;
    font-weight: 300;
}
#case-study-description {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
}

#case-study-carousel-title {
    font-size: 25px;
    font-weight: 400;
    font-family: "Roboto", sans-serif;
}

#home-partners-title {
    font-size: 40px;
    font-weight: 400;
    color: #0078c8;
}

#home-partners-img {
    max-width: 100%;
}

#home-testimonial-title {
    font-size: 40px;
    font-weight: 400;
    color: #000;
}

#home-slider-position {
    color: #0078c8;
    font-weight: 900;
    font-size: 20px;
}

#home-slider-company {
    color: #0078c8;
    font-weight: 300;
    font-size: 20px;
}

/* --------------------------------------------------------
                     Solutions
---------------------------------------------------------- */

#solutions {
    width: 100%;
    background: url("../img/solutions_banner.png");
    position: relative;
    padding: 90px 0 0 0;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

#solutions .hero-margin-desktop {
    margin-top: 70px;
    margin-bottom: 0px;
}

#solutions:before {
    content: "";
    background-color: rgba(0, 120, 200, 0.9);
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
}

#solutions h1 {
    margin: 0 0 20px 0;
    font-size: 48px;
    font-weight: 700;
    line-height: 56px;
    color: rgba(255, 255, 255, 0.8);
}

#solutions h1 span {
    color: #fff;
    border-bottom: 4px solid #1acc8d;
}

#solutions h2 {
    color: rgba(255, 255, 255, 0.8);
    margin-bottom: 40px;
    font-size: 20px;
    font-weight: 200;
}

#solutions .btn-get-started {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 10px 30px;
    border-radius: 50px;
    transition: 0.5s;
    color: #fff;
    background: #1acc8d;
}

#solutions .btn-get-started:hover {
    background: #17b57d;
}

#solutions .animated {
    animation: up-down 2s ease-in-out infinite alternate-reverse both;
}

@media (min-width: 1024px) {
    #solutions {
        background-attachment: fixed;
    }
}

@media (max-width: 991px) {
    #solutions {
        padding-top: 80px;
    }
    .hero-margin-desktop {
        margin: 0;
    }

    #solutions .animated {
        -webkit-animation: none;
        animation: none;
    }
    #solutions .hero-img {
        text-align: center;
    }
    #solutions .hero-img img {
        max-width: 50%;
    }
    #solutions h1 {
        font-size: 28px;
        line-height: 32px;
        margin-bottom: 10px;
    }
    #solutions h2 {
        font-size: 18px;
        line-height: 24px;
        margin-bottom: 30px;
    }
}

@media (max-width: 575px) {
    #solutions .hero-img img {
        width: 80%;
    }
}

.flip-card-solutions {
    background-color: transparent;
    width: 200px;
    height: 190px;
    cursor: pointer;
}

.custom_overlay {
    position: relative;
}
.image {
    display: block;
    width: 100%;
    height: auto;
}
.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: 0.5s ease;
    background-color: #195492;
    overflow: hidden;
    border-radius: 50%;
}
.custom_overlay:hover .overlay {
    opacity: 0.9;
    transform: scale(1);
}

.text {
    color: #fff;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    width: 100%;
}
#solutions-title {
    font-weight: 900;
    font-size: 25px;
    text-align: center;
    color: #fff;
}

/* =============== Inbound Sales ========================== */

#inbound-sales {
    width: 100%;
    background: url("../img/inbound_sales_banner.png");
    position: relative;
    padding: 100px 0 0 0;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

#inbound-sales .hero-margin-desktop {
    margin-bottom: 70px;
    margin-top: 70px;
}

#inbound-sales:before {
    content: "";
    background-color: rgba(0, 120, 200, 0.9);
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
}

#inbound-sales h1 {
    margin: 0 0 20px 0;
    font-size: 48px;
    font-weight: 700;
    line-height: 56px;
    color: rgba(255, 255, 255, 0.8);
}

#inbound-sales h1 span {
    color: #fff;
    border-bottom: 4px solid #1acc8d;
}

#inbound-sales h2 {
    color: rgba(255, 255, 255, 0.8);
    margin-bottom: 40px;
    font-size: 20px;
    font-weight: 200;
}

#inbound-sales .btn-get-started {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 10px 30px;
    border-radius: 50px;
    transition: 0.5s;
    color: #fff;
    background: #1acc8d;
}

#inbound-sales .btn-get-started:hover {
    background: #17b57d;
}

#inbound-sales .animated {
    animation: up-down 2s ease-in-out infinite alternate-reverse both;
}

@media (min-width: 1024px) {
    #inbound-sales {
        background-attachment: fixed;
    }
}

@media (max-width: 991px) {
    #inbound-sales {
        padding-top: 80px;
    }
    .hero-margin-desktop {
        margin: 0;
    }

    #inbound-sales .animated {
        -webkit-animation: none;
        animation: none;
    }
    #inbound-sales .hero-img {
        text-align: center;
    }
    #inbound-sales .hero-img img {
        max-width: 50%;
    }
    #inbound-sales h1 {
        font-size: 28px;
        line-height: 32px;
        margin-bottom: 10px;
    }
    #inbound-sales h2 {
        font-size: 18px;
        line-height: 24px;
        margin-bottom: 30px;
    }
}

@media (max-width: 575px) {
    #inbound-sales .hero-img img {
        width: 80%;
    }
}

/* =============== Outbound Sales ===================== */

#outbound-sales {
    width: 100%;
    background: url("../img/outbound_sales_banner.png");
    position: relative;
    padding: 100px 0 0 0;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

#outbound-sales .hero-margin-desktop {
    margin-top: 70px;
    margin-bottom: 70px;
}

#outbound-sales:before {
    content: "";
    background-color: rgba(0, 120, 200, 0.9);
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
}

#outbound-sales h1 {
    margin: 0 0 20px 0;
    font-size: 48px;
    font-weight: 700;
    line-height: 56px;
    color: rgba(255, 255, 255, 0.8);
}

#outbound-sales h1 span {
    color: #fff;
    border-bottom: 4px solid #1acc8d;
}

#outbound-sales h2 {
    color: rgba(255, 255, 255, 0.8);
    margin-bottom: 40px;
    font-size: 20px;
    font-weight: 200;
}

#outbound-sales .btn-get-started {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 10px 30px;
    border-radius: 50px;
    transition: 0.5s;
    color: #fff;
    background: #1acc8d;
}

#outbound-sales .btn-get-started:hover {
    background: #17b57d;
}

#outbound-sales .animated {
    animation: up-down 2s ease-in-out infinite alternate-reverse both;
}

@media (min-width: 1024px) {
    #outbound-sales {
        background-attachment: fixed;
    }
}

@media (max-width: 991px) {
    #outbound-sales {
        padding-top: 80px;
    }
    .hero-margin-desktop {
        margin: 0;
    }

    #outbound-sales .animated {
        -webkit-animation: none;
        animation: none;
    }
    #outbound-sales .hero-img {
        text-align: center;
    }
    #outbound-sales .hero-img img {
        max-width: 50%;
    }
    #outbound-sales h1 {
        font-size: 28px;
        line-height: 32px;
        margin-bottom: 10px;
    }
    #outbound-sales h2 {
        font-size: 18px;
        line-height: 24px;
        margin-bottom: 30px;
    }
}

@media (max-width: 575px) {
    #outbound-sales .hero-img img {
        width: 80%;
    }
}

/* =============== Customer Service ===================== */

#customer_service {
    width: 100%;
    background: url("../img/customer_service_banner.png");
    position: relative;
    padding: 100px 0 0 0;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

#customer_service .hero-margin-desktop {
    margin-top: 70px;
    margin-bottom: 70px;
}

#customer_service:before {
    content: "";
    background-color: rgba(0, 120, 200, 0.9);
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
}

#customer_service h1 {
    margin: 0 0 20px 0;
    font-size: 48px;
    font-weight: 700;
    line-height: 56px;
    color: rgba(255, 255, 255, 0.8);
}

#customer_service h1 span {
    color: #fff;
    border-bottom: 4px solid #1acc8d;
}

#customer_service h2 {
    color: rgba(255, 255, 255, 0.8);
    margin-bottom: 40px;
    font-size: 20px;
    font-weight: 200;
}

#customer_service .btn-get-started {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 10px 30px;
    border-radius: 50px;
    transition: 0.5s;
    color: #fff;
    background: #1acc8d;
}

#customer_service .btn-get-started:hover {
    background: #17b57d;
}

#customer_service .animated {
    animation: up-down 2s ease-in-out infinite alternate-reverse both;
}

@media (min-width: 1024px) {
    #customer_service {
        background-attachment: fixed;
    }
}

@media (max-width: 991px) {
    #customer_service {
        padding-top: 80px;
    }
    .hero-margin-desktop {
        margin: 0;
    }

    #customer_service .animated {
        -webkit-animation: none;
        animation: none;
    }
    #customer_service .hero-img {
        text-align: center;
    }
    #customer_service .hero-img img {
        max-width: 50%;
    }
    #customer_service h1 {
        font-size: 28px;
        line-height: 32px;
        margin-bottom: 10px;
    }
    #customer_service h2 {
        font-size: 18px;
        line-height: 24px;
        margin-bottom: 30px;
    }
}

@media (max-width: 575px) {
    #customer_service .hero-img img {
        width: 80%;
    }
}

/* --------------------------------------- 
    accolades
 ----------------------------------------  */

#accolades {
    width: 100%;
    background: url("../img/accolades_banner.png");
    position: relative;
    padding: 100px 0 0 0;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

#accolades .hero-margin-desktop {
    margin-top: 70px;
    margin-bottom: 70px;
}

#accolades:before {
    content: "";
    background-color: rgba(0, 120, 200, 0.9);
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
}

#accolades h1 {
    margin: 0 0 20px 0;
    font-size: 48px;
    font-weight: 700;
    line-height: 56px;
    color: rgba(255, 255, 255, 0.8);
}

#accolades h1 span {
    color: #fff;
    border-bottom: 4px solid #1acc8d;
}

#accolades h2 {
    color: rgba(255, 255, 255, 0.8);
    margin-bottom: 40px;
    font-size: 20px;
    font-weight: 200;
}

#accolades .btn-get-started {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 10px 30px;
    border-radius: 50px;
    transition: 0.5s;
    color: #fff;
    background: #1acc8d;
}

#accolades .btn-get-started:hover {
    background: #17b57d;
}

#accolades .animated {
    animation: up-down 2s ease-in-out infinite alternate-reverse both;
}

@media (min-width: 1024px) {
    #accolades {
        background-attachment: fixed;
    }
}

@media (max-width: 991px) {
    #accolades {
        padding-top: 80px;
    }
    .hero-margin-desktop {
        margin: 0;
    }

    #accolades .animated {
        -webkit-animation: none;
        animation: none;
    }
    #accolades .hero-img {
        text-align: center;
    }
    #accolades .hero-img img {
        max-width: 50%;
    }
    #accolades h1 {
        font-size: 28px;
        line-height: 32px;
        margin-bottom: 10px;
    }
    #accolades h2 {
        font-size: 18px;
        line-height: 24px;
        margin-bottom: 30px;
    }
}

@media (max-width: 575px) {
    #accolades .hero-img img {
        width: 80%;
    }
}

/* --------------------------------------- 
    Our Team
 ----------------------------------------  */

#meet-our-team {
    width: 100%;
    background: url("../img/our_team_banner.png");
    position: relative;
    padding: 100px 0 0 0;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

#meet-our-team .hero-margin-desktop {
    margin-top: 70px;
    margin-bottom: 70px;
}

#meet-our-team:before {
    content: "";
    background-color: rgba(0, 120, 200, 0.9);
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
}

#meet-our-team h1 {
    margin: 0 0 20px 0;
    font-size: 48px;
    font-weight: 700;
    line-height: 56px;
    color: rgba(255, 255, 255, 0.8);
}

#meet-our-team h1 span {
    color: #fff;
    border-bottom: 4px solid #1acc8d;
}

#meet-our-team h2 {
    color: rgba(255, 255, 255, 0.8);
    margin-bottom: 40px;
    font-size: 20px;
    font-weight: 200;
}

#meet-our-team .btn-get-started {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 10px 30px;
    border-radius: 50px;
    transition: 0.5s;
    color: #fff;
    background: #1acc8d;
}

#meet-our-team .btn-get-started:hover {
    background: #17b57d;
}

#meet-our-team .animated {
    animation: up-down 2s ease-in-out infinite alternate-reverse both;
}

@media (min-width: 1024px) {
    #meet-our-team {
        background-attachment: fixed;
    }
}

@media (max-width: 991px) {
    #meet-our-team {
        padding-top: 80px;
    }
    .hero-margin-desktop {
        margin: 0;
    }

    #meet-our-team .animated {
        -webkit-animation: none;
        animation: none;
    }
    #meet-our-team .hero-img {
        text-align: center;
    }
    #meet-our-team .hero-img img {
        max-width: 50%;
    }
    #meet-our-team h1 {
        font-size: 28px;
        line-height: 32px;
        margin-bottom: 10px;
    }
    #meet-our-team h2 {
        font-size: 18px;
        line-height: 24px;
        margin-bottom: 30px;
    }
}

@media (max-width: 575px) {
    #meet-our-team .hero-img img {
        width: 80%;
    }
}

/* timeline */

.demo {
    background-color: #00629f;
}
.main-timeline {
    font-family: "Roboto", sans-serif;
    position: relative;
    padding: 40px 0;
}
.main-timeline:before {
    content: "";
    background-color: #c4c4c4;
    height: 100%;
    width: 5px;
    border-top: none;
    border-bottom: none;
    transform: translateX(-50%);
    position: absolute;
    left: 50%;
    top: 0;
}
.main-timeline:after {
    content: "";
    display: block;
    clear: both;
}
.main-timeline .timeline {
    color: #fff;
    width: 50.1%;
    float: left;
    position: relative;
}
.main-timeline .timeline:before,
.main-timeline .timeline:after {
    content: "";
    background-color: #fff;
    height: 2px;
    width: 100px;
    position: absolute;
    right: 42px;
    top: 4px;
}
.main-timeline .timeline:after {
    height: 10px;
    width: 10px;
    border-radius: 50%;
    top: 0;
    right: 133px;
}
.main-timeline .timeline-content {
    color: #000;
    padding: 10px 10px 0 0;
    display: block;
    position: relative;
}

.main-timeline .timeline-year {
    background-color: #82be00;
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    position: absolute;
    right: -10px;
    top: 70px;
    border: 4px solid #0078c8;
}
.main-timeline .title {
    font-size: 25px;
    font-weight: 600;
    margin: 0 0 5px 0;
}
.main-timeline .title i {
    font-size: 35px;
    margin-top: 5px;
    margin-left: 5px;
}
.main-timeline .description {
    font-size: 15px;
    letter-spacing: 1px;
}
.main-timeline .timeline:nth-child(even) {
    float: right;
}
.main-timeline .timeline:nth-child(even):before {
    right: auto;
    left: 42px;
}
.main-timeline .timeline:nth-child(even):after {
    right: auto;
    left: 133px;
}
.main-timeline .timeline:nth-child(even) .timeline-content {
    padding: 10px 0 20 10px;
}
.main-timeline .timeline:nth-child(even) .timeline-year {
    right: auto;
    left: -7px;
}
@media only screen and (max-width: 990px) {
    .main-timeline .timeline:before {
        width: 50px;
    }
    .main-timeline .timeline:after {
        right: 30px;
    }
    .main-timeline .timeline-content {
        padding: 10px 20px 0 0;
    }
    .main-timeline .timeline:nth-child(even):after {
        left: 20px;
    }
    .main-timeline .timeline:nth-child(even) .timeline-content {
        padding: 10px 0 20 20px;
    }
}
@media only screen and (max-width: 767px) {
    .main-timeline:before {
        transform: translateX(0);
        left: 9px;
    }
    .main-timeline .timeline {
        width: 100%;
        margin-bottom: 30px;
    }
    .main-timeline .timeline:before,
    .main-timeline .timeline:nth-child(even):before {
        left: 20px;
    }
    .main-timeline .timeline:after,
    .main-timeline .timeline:nth-child(even):after {
        left: 20px;
    }
    .main-timeline .timeline-year,
    .main-timeline .timeline:nth-child(even) .timeline-year {
        left: 0;
    }
    .main-timeline .timeline-content {
        padding: 10px 0 0 20px;
    }
    .main-timeline .title {
        font-size: 20px;
    }
    .main-timeline .title i {
        font-size: 25px;
    }
}

.our-team-container {
    margin-bottom: 80px;
}

.our-team-container h2 {
    font-size: 40px;
    font-weight: 400;
    color: #000;
    font-family: "Roboto", sans-serif;
}

.our-team-container span {
    color: #000;
}

.our-team-container p {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-size: 16px;
}

.card-infinity-story {
    background-color: #0078c8;
    border-bottom-right-radius: 20px;
    border-top-right-radius: 20px;
}

.card-infinity-story-value {
    background-color: #0078c8;
    border-bottom-left-radius: 20px;
    border-top-left-radius: 20px;
}

.card-infinity-story h3 {
    font-weight: 600;
    font-size: 25px;
    color: #fff;
    margin-top: 30px;
    padding: 25px 20px 5px 20px;
}

.card-infinity-story p {
    color: #fff;
    padding: 10px 20px;
}

.inner-content {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-size: 16px;
}

.case-study-and-culture {
    margin-bottom: 80px;
}

.case-study-and-culture h2 {
    font-size: 40px;
    font-weight: 400;
    color: #0078c8;
    font-family: "Roboto", sans-serif;
}

.case-study-and-culture span {
    color: #82be00;
}

.case-study-and-culture p {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
}

.talk-to-us p {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-size: 20px;
    color: #fff;
    letter-spacing: 1px;
}

#btn-talk-to-us {
    background-color: #82be00;
    color: #fff;
    border-radius: 10px;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 30px;
}

#img-team-profile:hover {
    cursor: pointer;
    box-shadow: 10px 13px 85px -38px rgba(0, 0, 0, 1);
    -webkit-box-shadow: 10px 13px 85px -38px rgba(0, 0, 0, 1);
    -moz-box-shadow: 10px 13px 85px -38px rgba(0, 0, 0, 1);
    filter: none !important;
}

.custom-blue-overlay-core-values {
    position: relative;
}

.blue-overlay-core-values {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 97%;
    width: 100%;
    opacity: 0;
    transition: 0.5s ease;
    background-color: #195492;
    overflow: hidden;
}
.custom-blue-overlay-core-values:hover .blue-overlay-core-values {
    opacity: 0.9;
    transform: scale(1);
}

.text-core-values {
    color: #fff;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    width: 100%;
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    margin-top: 10px;
}

.text-core-values h2 {
    color: #fff;
    width: 100%;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
}

.custom-green-overlay-core-values {
    position: relative;
}

.green-overlay-core-values {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 97%;
    width: 100%;
    opacity: 0;
    transition: 0.5s ease;
    background-color: rgba(130, 190, 0, 0.75);
    overflow: hidden;
}
.custom-green-overlay-core-values:hover .green-overlay-core-values {
    opacity: 0.9;
    transform: scale(1);
}

/* --------------------------------------- 
     Case Details
 ----------------------------------------  */

#case-study {
    width: 100%;
    background: url("../img/case_studies_banner.png");
    position: relative;
    padding: 100px 0 0 0;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

#case-study .hero-margin-desktop {
    margin-bottom: 70px;
    margin-top: 70px;
}

#case-study:before {
    content: "";
    background-color: rgba(0, 120, 200, 0.9);
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
}

#case-study h1 {
    margin: 0 0 20px 0;
    font-size: 48px;
    font-weight: 700;
    line-height: 56px;
    color: rgba(255, 255, 255, 0.8);
}

#case-study h1 span {
    color: #fff;
    border-bottom: 4px solid #1acc8d;
}

#case-study h2 {
    color: rgba(255, 255, 255, 0.8);
    margin-bottom: 40px;
    font-size: 20px;
    font-weight: 200;
}

#case-study .btn-get-started {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 10px 30px;
    border-radius: 50px;
    transition: 0.5s;
    color: #fff;
    background: #1acc8d;
}

#case-study .btn-get-started:hover {
    background: #17b57d;
}

#case-study .animated {
    animation: up-down 2s ease-in-out infinite alternate-reverse both;
}

@media (min-width: 1024px) {
    #case-study {
        background-attachment: fixed;
    }
}

@media (max-width: 991px) {
    #case-study {
        padding-top: 80px;
    }
    .hero-margin-desktop {
        margin: 0;
    }

    #case-study .animated {
        -webkit-animation: none;
        animation: none;
    }
    #case-study .hero-img {
        text-align: center;
    }
    #case-study .hero-img img {
        max-width: 50%;
    }
    #case-study h1 {
        font-size: 28px;
        line-height: 32px;
        margin-bottom: 10px;
    }
    #case-study h2 {
        font-size: 18px;
        line-height: 24px;
        margin-bottom: 30px;
    }
}

@media (max-width: 575px) {
    #meet-our-team .hero-img img {
        width: 80%;
    }
}

.case-study-content-container {
    margin-bottom: 80px;
}

.case-study-content-container {
    margin-bottom: 80px;
}

.case-study-content-container h2 {
    font-size: 40px;
    font-weight: 400;
    color: #0078c8;
    font-family: "Roboto", sans-serif;
}

.case-study-content-container p {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-size: 16px;
}

.case-study-content-container span {
    color: #82be00;
}

#btn-list-case {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    background-color: #82be00;
    color: #fff;
    border-radius: 50px;
}

.case-study-details {
    margin-bottom: 80px;
}

.case-study-details h2 {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 35px;
}

.case-study-details li {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
}

/* --------------------------------------- 
       Join Infinity
 ----------------------------------------  */

#join-infinity {
    width: 100%;
    background: url("../img/join_our_team_banner.png");
    position: relative;
    padding: 100px 0 0 0;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.hero-margin-desktop {
    margin-top: 70px;
    margin-bottom: 70px;
}

#join-infinity:before {
    content: "";
    background-color: rgba(0, 120, 200, 0.9);
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
}

#join-infinity h1 {
    margin: 0 0 20px 0;
    font-size: 48px;
    font-weight: 700;
    line-height: 56px;
    color: rgba(255, 255, 255, 0.8);
}

#join-infinity h1 span {
    color: #fff;
    border-bottom: 4px solid #1acc8d;
}

#join-infinity h2 {
    color: rgba(255, 255, 255, 0.8);
    margin-bottom: 40px;
    font-size: 20px;
    font-weight: 200;
}

#join-infinity .btn-get-started {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 10px 30px;
    border-radius: 50px;
    transition: 0.5s;
    color: #fff;
    background: #1acc8d;
}

#join-infinity .btn-get-started:hover {
    background: #17b57d;
}

#join-infinity .animated {
    animation: up-down 2s ease-in-out infinite alternate-reverse both;
}

@media (min-width: 1024px) {
    #join-infinity {
        background-attachment: fixed;
    }
}

@media (max-width: 991px) {
    #join-infinity {
        padding-top: 80px;
    }
    .hero-margin-desktop {
        margin: 0;
    }

    #join-infinity .animated {
        -webkit-animation: none;
        animation: none;
    }
    #join-infinity .hero-img {
        text-align: center;
    }
    #join-infinity .hero-img img {
        max-width: 50%;
    }
    #join-infinity h1 {
        font-size: 28px;
        line-height: 32px;
        margin-bottom: 10px;
    }
    #join-infinity h2 {
        font-size: 18px;
        line-height: 24px;
        margin-bottom: 30px;
    }
}

@media (max-width: 575px) {
    #join-infinity .hero-img img {
        width: 80%;
    }
}

.join-infinity-container {
    margin-bottom: 80px;
}

.join-infinity-container h2 {
    font-size: 40px;
    color: #0078c8;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
}

.join-infinity-container p {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
}

.join-infinity-container span {
    color: #82be00;
}

.card-apply-infinity {
    background-color: #000;
    border-radius: 20px;
}

.card-apply-infinity h3 {
    font-weight: 600;
    font-size: 25px;
    color: #fff;
    margin-top: 30px;
    padding: 10px 20px;
}

.card-apply-infinity p {
    color: #fff;
    padding: 10px 20px;
}

.card-apply-infinity h4 {
    font-weight: 600;
    font-size: 17px;
    color: #fff;
    padding-top: 5px;
    padding-left: 20px;
}

.card-perks {
    border-radius: 20px;
    border: none;
    padding: 20px;
}

.card-perks h1 {
    font-size: 25px;
    color: #0078c8;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
}
#divider {
    width: 10%;
    height: 2px;
    background-color: #0078c8;
}

.overlay-container-infinity {
    position: relative;
}

.overlay-container-infinity img {
    border-radius: 20px;
}

.overlay-hover {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: 0.5s ease;
    background-color: #82be00;
    overflow: hidden;
    border-radius: 20px;
}
.overlay-container-infinity:hover .overlay-hover:hover {
    cursor: pointer;
    opacity: 0.7;
    transform: scale(1.03);
}

.text-message {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.text-message h1 {
    color: #fff;
    font-size: 40px;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    text-align: center;
}

.text-message a {
    color: #fff;
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    text-decoration: underline;
    font-size: 18px;
}
.text-message a:hover {
    color: #fff;
    font-size: 20px;
}

.infinity-container {
    margin-bottom: 80px;
    font-family: "Roboto", sans-serif;
    font-weight: 300;
}

.infinity-container h2 {
    font-family: "Roboto", sans-serif;
    font-size: 40px;
    font-weight: 400;
    color: #0078c8;
}

.infinity-container span {
    color: #82be00;
}

#img-life-infinity {
    border-radius: 20px;
}

.row-infinity {
    padding: 40px 0px;
}

.row-infinity p {
    padding: 10px 25px;
}

.row-infinity h3 {
    padding: 10px 25px;
    font-size: 25px;
    font-weight: 400;
    color: #0078c8;
}

.card-apply-infinity-meeting {
    background-color: #82be00;
    border-radius: 20px;
}

.card-apply-infinity-meeting h3 {
    font-weight: 600;
    font-size: 25px;
    color: #fff;
    margin-top: 30px;
    padding: 10px 20px;
}

.card-apply-infinity-meeting p {
    color: #fff;
    padding: 10px 20px;
}

.card-apply-infinity-meeting h4 {
    font-weight: 600;
    font-size: 17px;
    color: #fff;
    padding-top: 5px;
    padding-left: 20px;
}

.infinity-count-data {
    margin-bottom: 80px;
}

.infinity-count-data h3 {
    font-family: "Roboto", sans-serif;
    font-size: 25px;
    font-weight: 400;
    color: #000;
}

.infinity-count-data p {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
}

/* =========== Hover Diversity and inclusion ================= */
.custom-women-overlay-core-values {
    position: relative;
}

.women-overlay-core-values {
    position: absolute;
    top: 9px;
    bottom: 0;
    left: 7px;
    right: 0;
    height: 78%;
    width: 95%;
    opacity: 0;
    transition: 0.5s ease;
    background-color: #000;
    overflow: hidden;
    border-radius: 50%;
}
.custom-women-overlay-core-values:hover .women-overlay-core-values {
    opacity: 0.6;
    transform: scale(0.9);
}

.text-women-core-values {
    color: #fff;
    font-weight: 900;
    font-size: 30px;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    width: 100%;
}

.custom-disable-overlay-core-values {
    position: relative;
}

.disable-overlay-core-values {
    position: absolute;
    top: 6px;
    bottom: 0;
    left: 5px;
    right: 0;
    height: 97%;
    width: 97%;
    opacity: 0;
    transition: 0.5s ease;
    background-color: #000;
    overflow: hidden;
    border-radius: 50%;
}
.custom-disable-overlay-core-values:hover .disable-overlay-core-values {
    opacity: 0.6;
    transform: scale(0.9);
}

.text-disable-core-values {
    color: #fff;
    font-weight: 900;
    font-size: 30px;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    width: 100%;
}

.custom-hispanic-overlay-core-values {
    position: relative;
}

.hispanic-overlay-core-values {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 60%;
    width: 100%;
    opacity: 0;
    transition: 0.5s ease;
    background-color: #000;
    overflow: hidden;
    border-radius: 50%;
}
.custom-hispanic-overlay-core-values:hover .hispanic-overlay-core-values {
    opacity: 0.6;
    transform: scale(0.8);
}

.text-hispanic-core-values {
    color: #fff;
    font-weight: 900;
    font-size: 30px;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    width: 100%;
}

.custom-lgbt-overlay-core-values {
    position: relative;
}

.lgbt-overlay-core-values {
    position: absolute;
    top: 7px;
    bottom: 0;
    left: 8px;
    right: 0;
    height: 79%;
    width: 94%;
    opacity: 0;
    transition: 0.5s ease;
    background-color: #000;
    overflow: hidden;
    border-radius: 50%;
}
.custom-lgbt-overlay-core-values:hover .lgbt-overlay-core-values {
    opacity: 0.6;
    transform: scale(0.9);
}

.text-lgbt-core-values {
    color: #fff;
    font-weight: 900;
    font-size: 30px;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    width: 100%;
}

.custom-blackmen-overlay-core-values {
    position: relative;
}

.blackmen-overlay-core-values {
    position: absolute;
    top: 6px;
    bottom: 0;
    left: 3px;
    right: 0;
    height: 97%;
    width: 98%;
    opacity: 0;
    transition: 0.5s ease;
    background-color: #000;
    overflow: hidden;
    border-radius: 50%;
}
.custom-blackmen-overlay-core-values:hover .blackmen-overlay-core-values {
    opacity: 0.6;
    transform: scale(0.9);
}

.text-blackmen-core-values {
    color: #fff;
    font-weight: 900;
    font-size: 30px;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    width: 100%;
}

.custom-girl-overlay-core-values {
    position: relative;
}

.girl-overlay-core-values {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 60%;
    width: 100%;
    opacity: 0;
    transition: 0.5s ease;
    background-color: #000;
    overflow: hidden;
    border-radius: 50%;
}
.custom-girl-overlay-core-values:hover .girl-overlay-core-values {
    opacity: 0.6;
    transform: scale(0.8);
}

.text-girl-core-values {
    color: #fff;
    font-weight: 900;
    font-size: 30px;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    width: 100%;
}

.custom-veteran-overlay-core-values {
    position: relative;
}

.veteran-overlay-core-values {
    position: absolute;
    top: 8px;
    bottom: 0;
    left: 6px;
    right: 0;
    height: 85%;
    width: 96%;
    opacity: 0;
    transition: 0.5s ease;
    background-color: #000;
    overflow: hidden;
    border-radius: 50%;
}
.custom-veteran-overlay-core-values:hover .veteran-overlay-core-values {
    opacity: 0.6;
    transform: scale(0.9);
}

.text-veteran-core-values {
    color: #fff;
    font-weight: 900;
    font-size: 30px;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    width: 100%;
}

/* --------------------------------------- 
        Infinity Careers
 ----------------------------------------  */

.infinity-careers {
    margin-bottom: 80px;
    font-family: "Roboto", sans-serif;
    font-weight: 300;
}

.infinity-careers h2 {
    font-family: "Roboto", sans-serif;
    font-size: 40px;
    font-weight: 400;
    color: #0078c8;
}

.infinity-careers span {
    color: #82be00;
}

.infinity-careers input {
    border-radius: 20px;
    border: 1px solid #82be00;
    font-family: "Roboto", sans-serif;
    font-weight: 300;
}

.infinity-careers input::placeholder {
    color: #d0d0d0;
}

#btn-search {
    background-color: #82be00;
    color: #fff;
    border-radius: 50px;
    padding: 10px 30px;
    font-size: 16px;
    text-align: center;
}

.card-job-available {
    border-radius: 20px;
    padding: 10px 10px;
    height: 32vh;
    border: 1px solid #82be00;
}

.card-job-available h1 {
    color: #0078c8;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 50px;
}

.card-job-available a {
    color: #82be00;
    border-radius: 20px;
    border: 1px solid #dfdede;
}

.card-job-available a:hover {
    color: #fff;
    border-radius: 20px;
    background-color: #82be00;
}

@media (max-width: 576px) {
    .card-job-available {
        height: 50vh;
    }
}

@media (max-width: 768px) {
    .card-job-available {
        height: 50vh;
    }
}
@media (max-width: 992px) {
    .card-job-available {
        height: 50vh;
    }
}

/* --------------------------------------- 
        Contact us 
 ----------------------------------------  */

#contact-us {
    width: 100%;
    background: url("../img/contactus-banner.jpg");
    position: relative;
    padding: 120px 0 0 0;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

#contact-us .hero-margin-desktop {
    margin-bottom: 70px;
    margin-top: 70px;
}

#contact-us:before {
    content: "";
    background-color: rgba(0, 120, 200, 0.9);
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
}

#contact-us h1 {
    margin: 0 0 20px 0;
    font-size: 48px;
    font-weight: 700;
    line-height: 56px;
    color: rgba(255, 255, 255, 0.8);
}

#contact-us h1 span {
    color: #fff;
    border-bottom: 4px solid #1acc8d;
}

#contact-us h2 {
    color: rgba(255, 255, 255, 0.8);
    margin-bottom: 40px;
    font-size: 20px;
    font-weight: 200;
}

#contact-us .btn-get-started {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 1px;
    display: inline-block;
    padding: 10px 30px;
    border-radius: 50px;
    transition: 0.5s;
    color: #fff;
    background: #1acc8d;
}

#contact-us .btn-get-started:hover {
    background: #17b57d;
}

#contact-us .animated {
    animation: up-down 2s ease-in-out infinite alternate-reverse both;
}

@media (min-width: 1024px) {
    #contact-us {
        background-attachment: fixed;
    }
}

@media (max-width: 991px) {
    #contact-us {
        padding-top: 80px;
    }
    .hero-margin-desktop {
        margin: 0;
    }

    #contact-us .animated {
        -webkit-animation: none;
        animation: none;
    }
    #contact-us.hero-img {
        text-align: center;
    }
    #contact-us .hero-img img {
        max-width: 50%;
    }
    #contact-us h1 {
        font-size: 28px;
        line-height: 32px;
        margin-bottom: 10px;
    }
    #contact-us h2 {
        font-size: 18px;
        line-height: 24px;
        margin-bottom: 30px;
    }
}

@media (max-width: 575px) {
    #contact-us .hero-img img {
        width: 80%;
    }
}

.contact-us-container h2 {
    font-size: 35px;
    color: #000;
    font-weight: 400;
}

.contact-us-container h3 {
    font-size: 40px;
    color: #0078c8;
    font-weight: 400;
}

.contact-us-container span {
    color: #000;
}

.contact-us-container h5 {
    font-size: 18px;
    font-weight: 800;
}

.contact-us-container p {
    font-weight: 300;
}

.contact-us-container h4 {
    font-size: 18px;
    font-weight: 600;
}

.contact-card {
    border-radius: 20px;
}

.contact-card input,
.form-select,
.text-area {
    border-radius: 20px;
    background-color: #eeeeee;
    border: 1px solid #82be00;
    font-weight: 100 !important;
}

.contact-card input .form-select::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #b1aeae;
}

.contact-card h4 {
    font-size: 20px;
    font-weight: 600;
}

/* ========= indicator ============= */
.carousel-indicators .active {
    background-color: #82be00 !important;
}

.accoladesBadge {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 50px;
}

.accoladesBadge .card {
    box-shadow: -1px 1px 18px -2px rgba(0, 0, 0, 0.5);
    border-radius: 50%;
    margin: 10px;
    width: 100px;
    height: 100px;
}

.joblisting-overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0.5;
    background-color: #0078c8;
    border-radius: 20px;
}
.joblisting-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #fff;
}

/* =================================== */
.joblisting-overlay1 {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0.5;
    background-color: #82be00;
    border-radius: 20px;
}
.joblisting-text1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #fff;
}
